<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appmall.market"
    android:versionCode="110"
    android:versionName="1.1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.appmall.market.ApplicationImpl"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.appmall.market.activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
         	</intent-filter>
         	<intent-filter>
    			<action android:name="android.intent.action.CREATE_SHORTCUT"></action>
			</intent-filter>
        </activity>
        
        <activity 
            android:name="com.appmall.market.activity.PromoteAcitivty"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize" 
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="com.appmall.market.activity.SearchActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan|stateVisible"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="com.appmall.market.activity.ApplicationAcitivty"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize" 
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="com.appmall.market.activity.ManageAcitivty"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize" 
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="com.appmall.market.activity.CategoryDetailActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" 
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="com.appmall.market.activity.AppDetailActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="com.appmall.market.activity.TopicDetailActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" 
            android:screenOrientation="portrait"/>
        
        <activity
            android:name="com.appmall.market.activity.SettingActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize" 
            android:screenOrientation="portrait"/>
        
        <activity
            android:name="com.appmall.market.activity.ManageDownloadActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize" 
            android:screenOrientation="portrait"/>
        
        <activity
            android:name="com.appmall.market.activity.CommentPostActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        
        <activity
            android:name="com.appmall.market.activity.AboutActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize" 
            android:screenOrientation="portrait"/>
        
        <activity
            android:name="com.appmall.market.activity.TermActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize" 
            android:screenOrientation="portrait"/>
        
        <service android:name="com.appmall.market.download.DownloadService"
            android:label="@string/app_name"
            android:exported="false" />
        
        <service android:name="com.appmall.market.common.AppService"
            android:label="@string/app_name"
            android:exported="false" />
        
        <receiver android:name="com.appmall.market.data.PkgChangeReceiver"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.appmall.market.common.NotifycationReceive" >
            <intent-filter>
                <action android:name="com.appmall.market.action.notification" />
            </intent-filter>
        </receiver>
    
        <receiver android:name="com.appmall.market.common.NetworkStateReceiver">  
           <intent-filter>  
               <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>  
           </intent-filter>  
       </receiver>
        
        <receiver android:name="com.appmall.market.common.BootBroadcastReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
